h1 {
    text-align: center;
}

h3 {
    margin-left:10px
}
header {
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.tableLogin {width:120px}
#error {text-align: center;}

.tableSign {width:180px; text-align: left;}

.tableAddRemove {width:150px; text-align: left;}

.tableTransaction {width:150px; text-align: left;}
#id_amount,#id_outputWallet,#id_cryptoCurrency{width:150px;}

