{% extends 'base.html' %}
{% block title %}
    New transaction
{% endblock %}
{% block content %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'stylebase.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New transaction</title>
</head>
<body>
    <h2>
       <div align = "center">New transaction</div>
    </h2>
    <center>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                <table>
                <th class="tableTransaction">{{ field.label_tag }}</th>
                <td class="tableTransaction">{{ field }}</td>
                </table>
            </p>
        {% endfor %}
        <input type="submit" value="Create" />
    </form>
    </center>
    {% if failure %}
        <center>
            <p id="transactionFailedMessage">Your transaction is failed.</p>
        </center>
    {% endif %}
</body>
</html>
{% endblock %}
