{% extends 'base.html' %}
{% block title %}
    Transactions
{% endblock %}
{% block content %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<h2>
   <div align = "center">Transactions List</div>
</h2>
 <br><br>
 <div id="total">
     {% if existCC %}
    <a href="{% url 'newtransaction' %}">New transaction</a>
     {% else %}
     <p>Your wallet is empty so you can't create transactions.</p>
     {% endif %}
 </div>
 <br><br>

 {% if rows %}
     <br>
     <table style="width:80%">
      <tr id="headers">
        <th>Transaction ID</th>
          <th><a href="" id="DateHeader"> Date </a></th>
        <th>Input Wallet</th>
        <th>Ouput Wallet</th>
        <th>Crypto Currency</th>
        <th>Amount</th>
      </tr>
      {% for row in rows %}
      <tr>
          <td>
             <a href="{% url 'transactionDetail' row.code%}">{{row.code}}</a>
          </td>
          <td>
              {{row.date}}
          </td>
          <td>
              {{row.inputWallet}}
          </td>
          <td>
              {{row.outputWallet}}
          </td>
          <td>
              {{row.cryptoCurrency}}
          </td>
          <td>
              {{row.amount}}
          </td>
      </tr>
      {% endfor %}
    </table>

{%else%}
    <br>
    <div align = "center">
        <p>You aren't involved in any transaction yet</p>
    </div>
{%endif%}

{% endblock %}
{% block javascript %}
<script
			  src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous">
</script>
<script>
    desc = true;
    $("#DateHeader").click(function () {
        desc = !desc;
        $.ajax({
            url: '/ajax/ajaxtransactions/',
            data: {
              'orderDesc': desc
            },
            dataType: 'json',
            success: function (data) {
                updateTable(data)
            }
        })
        return false;
        function updateTable(transactionList){
            $("tr:not(#headers)").remove();
            var transactions = transactionList.transactions;
            for(var i in transactions){
                var newtr = $('<tr></tr>');
                newtr.append('<td><a href="../transactionDetail/'+ transactions[i].code +'">'+transactions[i].code+'</a></td>');
                newtr.append('<td>'+transactions[i].date+'</td>');
                newtr.append('<td>'+transactions[i].inputWallet+'</td>');
                newtr.append('<td>'+transactions[i].outputWallet+'</td>');
                newtr.append('<td>'+transactions[i].cryptoCurrency+'</td>');
                newtr.append('<td>'+transactions[i].amount+'</td>');
                $("table").append(newtr);
            }
        }
    });
</script>
{% endblock %}
